.canvas_wrapper {
	position: fixed;
	inset: 0;
	z-index: -1000;
	pointer-events: none;
	// background-color: var(--white);
	overflow: hidden;

	width: calc(100vw - 80px);
	height: calc(100vh - 80px);

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	canvas {
		width: 100%;
		height: 100%;
		border-radius: 16px;
	}
}
