.canvas_wrapper {
	position: fixed;
	top: 0;
	left: 0;
	inset: 0;
	z-index: -1000;
	// pointer-events: none !important;
	// background-color: var(--black);
	overflow: hidden;

	width: 100vw;
	height: 100vh;

	canvas {
		width: 100%;
		height: 100%;
		// border-radius: 16px;
	}
}
