.canvas_wrapper {
	position: fixed;
	inset: 0;
	z-index: -1000;
	pointer-events: none !important;
	// background-color: var(--white);
	overflow: hidden;

	width: calc(100vw - (var(--gutter) * 2));
	height: calc(var(--height) - (var(--gutter) * 2));

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	canvas {
		width: 100%;
		height: 100%;
		border-radius: 16px;
	}
}
