@use "./fonts";

.contact_wrapper {
	width: 100%;
	min-height: calc(100vh - (var(--gutter) * 2));
	.contact {
		position: relative;
		width: calc(100vw - (var(--gutter) * 2));
		min-height: calc(100vh - (var(--gutter) * 2));
		display: flex;
		flex-direction: column;
		overflow: hidden;

		.highilighted {
			color: var(--red);
		}

		.title {
			position: relative;
			width: 100%;
			top: 5vh;
			left: 2vw;
			font-family: var(--fira);
			font-weight: 900;
			// $min-font, $base-font-size, $min-screen, $base-screen
			@include fonts.font_size_be(33, 100, 320, 1920);
			font-feature-settings: "liga" 1, "kern" 1;
			text-transform: capitalize;
		}

		.middle_content {
			position: relative;
			width: calc(100vw - 160px);
			height: 240px;
			top: 30%;
			left: 50%;
			transform: translate(-50%, 20%);
			display: flex;
			border-top: 1px solid var(--black);
			border-bottom: 1px solid var(--black);
			justify-content: space-between;
			align-items: center;
		}

		.client_time {
			position: relative;
			align-self: flex-start;
			margin-top: 10px;
			.heading {
				font-family: var(--fira);
				font-weight: 700;
				font-size: 16px;
			}
			.desc {
				margin-top: 10px;
				font-family: var(--neueVar);
				font-size: 16px;
				font-weight: 400;
				line-height: 100%;
				letter-spacing: 4%;
			}
		}
		.time_freme {
			position: relative;
			align-self: flex-end;
			margin-bottom: 8px;

			.year {
				font-size: 150px;
				@include fonts.font_size_be(20, 150, 320, 1920);
				font-weight: 900;
				line-height: 0.7;
			}
		}

		.email_me {
			position: relative;
			align-self: flex-end;
			text-align: right;
			margin-bottom: 8px;
			.heading {
				font-size: 16;
				font-weight: 600;
			}
			.email {
				// font-size: 54px;
				@include fonts.font_size_be(20, 54, 320, 1920);
				font-weight: 900;
			}
		}

		.ending_part {
			position: relative;
			width: calc(100vw - 160px);
			top: 50%;
			left: 50%;
			transform: translate(-50%, 30%);
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			&::before {
				content: "";
				flex: 1;
			}
			// gap: 33%;
			.res_loc {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-self: flex-start;
				font-size: 16px;
				width: 33%;

				gap: 3rem;
				.heading {
					font-weight: 600;
				}
			}
			.phn_icon {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-self: flex-start;
				gap: 1rem;
				text-align: end;
				width: 33%;

				.heading {
					font-weight: 600;
				}
				.phone {
					font-size: 20px;
					font-weight: 900;
					letter-spacing: 1px;
				}
				.socail_icon {
					display: flex;
					flex-direction: row;
					justify-content: flex-end;
					align-self: flex-end;
					gap: 1rem;
				}
			}
		}
		.spinner {
			position: relative;
			bottom: -15px;
			left: -60px;
		}
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(-360deg);
		}
	}

	.spin360 {
		animation: spin 15s linear infinite;
	}
}
