@use "./fonts";
@use "./mixins";
@use "./sizes";

.contact_wrapper {
	width: 100%;
	height: 100%;
	// min-height: calc(100vh - (var(--gutter) * 2));
	.contact {
		position: relative;
		width: calc(100vw - (var(--gutter) * 2));
		height: auto;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		overflow: hidden;

		.highilighted {
			color: var(--red);
		}

		.title {
			position: relative;
			width: 100%;
			top: 5vh;
			left: 2vw;
			font-family: var(--fira);
			font-weight: 900;
			// $min-font, $base-font-size, $min-screen, $base-screen
			@include fonts.font_size_be(26, 100, 320, 1920);
			font-feature-settings: "liga" 1, "kern" 1;
			text-transform: capitalize;
		}

		.middle_content {
			position: relative;
			width: calc(100vw - (var(--gutter) * 2 + 10px));
			height: 240px;
			top: 30%;
			left: 50%;
			transform: translate(-50%, 20%);
			display: flex;
			border-top: 1px solid var(--black);
			border-bottom: 1px solid var(--black);
			justify-content: space-between;
			align-items: center;
		}

		.client_time {
			position: relative;
			align-self: flex-start;
			// margin-top: 6px;
			.heading {
				font-family: var(--fira);
				font-weight: 700;
				font-size: 16px;
			}
			.desc {
				margin-top: 10px;
				font-family: var(--neueVar);
				font-size: 16px;
				font-weight: 400;
				line-height: 100%;
				letter-spacing: 4%;
			}
		}
		.time_freme {
			position: relative;
			align-self: flex-end;
			margin-bottom: 8px;

			.year {
				font-size: 150px;
				@include fonts.font_size_be(20, 150, 320, 1920);
				font-weight: 900;
				line-height: 0.7;
			}
		}
		a {
			text-decoration: none;
		}
		.email_me {
			position: relative;
			align-self: flex-end;
			text-align: right;
			margin-bottom: 10px;
			.heading {
				font-size: 16px;
				font-weight: 600;
			}
			.email {
				// font-size: 54px;
				@include fonts.font_size_be(24, 54, 320, 1920);
				font-weight: 900;
			}
		}

		.ending_part {
			position: relative;
			width: calc(100vw - (var(--gutter) * 2 + 10px));
			top: 50%;
			left: 50%;
			transform: translate(-50%, 30%);
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			&::before {
				content: "";
				flex: 1;
			}
			// gap: 33%;
			.res_loc {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-self: flex-start;
				font-size: 16px;
				width: 33%;

				gap: 3rem;
				.heading {
					font-weight: 600;
				}
			}
			.phn_icon {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-self: flex-start;
				gap: 1rem;
				text-align: end;
				width: 33%;

				.heading {
					font-weight: 600;
				}
				.phone {
					font-size: 20px;
					font-weight: 900;
					letter-spacing: 1px;
				}
				.socail_icon {
					display: flex;
					flex-direction: row;
					justify-content: flex-end;
					align-self: flex-end;
					gap: 1rem;
				}
			}
		}
		.spinner {
			position: absolute;
			bottom: -2vh;
			left: -6vw;
		}

		@include mixins.MOBILE {
			.middle_content {
				width: calc(100vw - (var(--gutter) * 2 + 10px));
				height: auto;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;

				.client_time {
					align-self: flex-start;
				}
				.time_freme {
					margin-top: 10px;
					align-self: center;
				}
				a {
					text-decoration: none;
				}
				.email_me {
					align-self: flex-end;
					margin-bottom: 8px;
				}
			}

			.ending_part {
				&::before {
					content: none;
					flex: 0;
				}
				margin-top: 2rem;
				.res_loc {
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					align-items: start;
					width: 50%;
					font-size: 12px;

					gap: 0;
				}
			}
			.spinner {
			}
		}
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(-360deg);
		}
	}

	.spin360 {
		animation: spin 15s linear infinite;
	}
}
