@use "./fonts";
.corner_container {
	.cornerinfo {
		width: 100%;
		height: 100%;

		font-family: var(--neueVar);
		font-weight: 500;
		font-size: 12px;
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		// gap: 2px;

		.time_svg {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			gap: 10px;

			.mainTime {
				font-weight: 1000;
				// font-size: 48px;
				@include fonts.font_size_be(26, 48, 320, 1920);
				line-height: 100%;
			}
			.amPm {
				display: flex;
				flex-direction: column;
				gap: 2px;
			}
		}

		.heading2 {
			font-weight: 800;
			// font-size: 20px;
			@include fonts.font_size_be(16, 20, 320, 1920);

			letter-spacing: 10%;
			width: 250px;
			line-height: 90%;
		}

		.description {
			margin-top: 4px;
			width: 100%;
			text-transform: none;
		}
	}
}
