@use "./mixins";
@use "./fonts";
@use "./sizes";

.exp_wrapper {
	width: calc(100vw - (var(--gutter) * 2));
	height: calc(100vh + 100px);
	position: relative;

	.title {
		max-width: 100%;
		font: var(--fira);
		font-weight: 700;
		@include fonts.font_size_be(33, 96, 320, 1920);
		text-align: center;
	}
	
}
