/***
 * @param $min ~ Minimum size I want
 * @param $min-screen ~ Minimum screen size to calculate
 * @param $base-screen ~ The defaylt screen width designed. (default: 1920px)
 * @param $base-font-size ~ Font size for my default screen width. (default 96px)
 */
@mixin font_size_be($min-font, $base-font-size, $min-screen, $base-screen) {
	font-size: clamp(
		#{$min-font}px,
		calc(
			#{$min-font}px + (#{$base-font-size} - #{$min-font}) *
				((100vw - #{$min-screen}px) / (#{$base-screen} - #{$min-screen}))
		),
		#{$base-font-size}px
	);
}

// font-size: clamp(
// 	#{$min-font}px,
// 	calc(#{$base-font-size} * 100vw / #{$base-screen}),
// 	100vw
// );
