@use "./fonts";
.mylogo {
	position: fixed;
	top: calc(var(--gutter));
	left: calc(var(--gutter));
	z-index: 100;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 5px;
	width: 300px;
	height: 80px;

	transition: all 0.5s ease-in-out;
	.logo_Text {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 2px;
	}

	.logo_T1,
	.logo_T2 {
		font-family: var(--fira);
		text-transform: uppercase;
		line-height: 90%;
	}
	.logo_T1 {
		font-weight: 600;
		@include fonts.font_size_be(12, 20, 320, 1920);
	}
	.logo_T2 {
		font-size: 12px;
	}

	.char {
		will-change: transform;
	}
}
