.mylogo {
	position: fixed;
	top: 60px;
	left: 60px;
	z-index: 10;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 5px;
	width: 220px;
	height: 51px;

	& img {
		width: 50px;
		height: auto;
	}

	.logo_Text {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 2px;
	}

	.logo_T1,
	.logo_T2 {
		font-family: var(--fira);
		text-transform: uppercase;
		line-height: 90%;
	}
	.logo_T1 {
		font-weight: 600;
		font-size: 20px;
	}
	.logo_T2 {
		font-size: 12px;
	}
}
