@use "./mixins";
@use "./fonts";
@use "./sizes";

.menu {
	position: relative;
	width: 100vw;
	height: var(--height);
	scroll-behavior: stop;
	z-index: 400;
	background-color: var(--red);
	display: flex;
	flex-direction: column;
	justify-content: center;
	transform: translateY(calc(-100% - 400px));
	visibility: hidden;

	.listings {
		width: calc(100vw - (var(--gutter) * 2));
		height: calc(100% - (var(--gutter) * 2));
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-start;
		align-items: end;
		gap: 10rem;
		.items_list {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-end;

			.item {
				@include fonts.font_size_be(50, 150, 768, 1920);

				font-family: var(--grotesk);
				font-weight: 700;
				.superscript {
					@include fonts.font_size_be(14, 60, 768, 1920);
					font-weight: 700;
				}
				#star {
					color: var(--greener);
				}
				&:hover {
					color: var(--cream);
					transition: all 0.3s ease-in-out;
				}
			}
		}
		@include mixins.MOBILE {
			width: calc(100vw - (var(--gutter) * 2));
			height: auto;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: end;
			gap: 4rem;
			.item {
				@include fonts.font_size_be(24, 50, 320, 768);
			}
		}

		.secondaryItems_list {
			align-self: center;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-end;
			text-align: right;
			gap: 2rem;

			.inpageLinks {
				color: var(--white);

				.item {
					@include fonts.font_size_be(12, 18, 768, 1920);
					line-height: 1.8rem;
					letter-spacing: 2px;
					font-family: var(--grotesk);
					font-weight: 400;
					text-align: right;
					&:hover {
						color: var(--black);
						transition: all 0.3s ease-in-out;
					}
					&.highlighted {
						color: var(--black);
						transition: all 0.3s ease-in-out;
					}
				}
			}
			.social_item {
				@include fonts.font_size_be(12, 18, 768, 1920);
				line-height: 2rem;
				letter-spacing: 2px;
				font-family: var(--grotesk);
				font-weight: 400;
				color: var(--white);

				.social_links {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
				}

				.urls {
					&:hover {
						svg {
							fill: var(--cream);

							transition: all 0.6s "ease.inOut";
						}
					}
				}
			}
			@include mixins.MOBILE {
				width: calc(100vw - (var(--gutter) * 2));
				height: auto;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: end;
				gap: 1rem;
			}
		}
	}
	.overlay_svg {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 400px;
		fill: #ed3203;
		z-index: 500;
	}
}
