$breakpoints: (
	"mobile": "320px",
	"tablet": "768px",
	"desktop": "1024px",
);
@mixin MOBILE {
	@media only screen and (min-width: map-get($breakpoints, "mobile")) and (max-width: map-get($breakpoints, "tablet")) {
		@content;
	}
}

@mixin TABLET {
	@media only screen and (min-width: map-get($breakpoints, "tablet")) and (max-width: map-get($breakpoints, "desktop")) {
		@content;
	}
}

@mixin DESKTOP {
	@media only screen and (min-width: map-get($breakpoints, "desktop")) {
		@content;
	}
}
