@use "./sizes";
.socialmedia_container {
	position: fixed;
	width: 16px;
	height: 613px;
	top: 18vh;
	left: 64px;
	z-index: 10;
}
.all_svgs,
.icons {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
