@use "./mixins";
@use "./sizes";

.flower_box {
	position: relative;
	width: 400px;
	@include sizes.width_be(200, 400, 320, 1024);
	height: 400px;
	@include sizes.height_be(220, 420, 320, 1024);
	display: flex;
	justify-content: center;
	align-items: center;
}
.flowers,
.lets_make {
	position: absolute; /* allow overlap */
	display: flex;
	justify-content: center;
	align-items: center;
}

.flowers img,
.lets_make img {
	max-width: 100%;
	height: auto;
}
#flower {
	margin: 0 70px 30px 55px;
}
