@use "./mixins";
@use "./sizes";

.spinner {
	position: absolute;
	bottom: calc(0vh + var(--gutter) * 0.8);
	left: calc(0vw - var(--gutter) * 0.8);
}

.flower_box {
	position: relative;
	// width: 400px;
	@include sizes.width_be(190, 400, 320, 1920);
	// height: 400px;
	@include sizes.height_be(200, 420, 320, 1920);
	display: flex;
	justify-content: center;
	align-items: center;
}
.flowers,
.lets_make {
	position: absolute; /* allow overlap */
	display: flex;
	justify-content: center;
	align-items: center;
}

.flowers img,
.lets_make img {
	width: 100%;
	height: auto;
}
#flower {
	margin: 0 70px 33px 55px;
}
