@use "./fonts";
@use "./sizes";
@use "./mixins";

.border {
	position: fixed;
	width: calc(100vw - (var(--gutter) * 2));
	height: calc(100vh - (var(--gutter) * 2));
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	overflow: hidden;
}

.details_wrapper {
	width: 100%;
	min-height: calc(100vh - (var(--gutter) * 2));

	padding: 2rem;
	display: flex;
	flex-direction: column;

	.details_logo {
		font-size: 1rem;
		margin-bottom: 1rem;
		font-weight: bold;
		text-align: center;
	}

	.detaild {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		justify-content: flex-start;
		text-align: center;

		.title {
			// font-size: 2.5rem;
			@include fonts.font_size_be(20, 40, 320, 1920);
			margin-bottom: 1rem;
			color: var(--black);
		}

		.details {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-direction: row;
			gap: 2rem;
			// width: calc(100vw - ((var(--gutter) + 20vw) * 2));
			width: calc(100vw - (var(--gutter) + 15vw) * 2);
			height: calc(100vh - (var(--gutter) + 15vh) * 2);

			@include mixins.MOBILE {
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			img {
				border-radius: 8px;
				@include sizes.width_be(200, 323, 320, 1920);
			}
			video {
				max-width: 100%;
				height: auto;
				border-radius: 8px;
				// box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
			}
		}
	}
}
