@use './partials/mixins';
@use './partials/fonts';
@use './partials/sizes';
@use './partials/home';
@use './partials/about';
@use './partials/works';
@use './partials/experiences';
@use './partials/contact';
@use './partials/socialmedia';
@use './partials/logo';
@use './partials/corner';
@use './partials/canvas';
@use './partials/spinFlower';
@use './partials/menupage';

:root {
	--greener: #9dff0a;
	--red: #ed3203;
	--red40: #ed320373;
	--black: #0f0f0f;
	--black40: #0f0f0f4b;
	--cream: #fafad2;
	--cream40: #fafad2b7;
	--white: #fffff2;
	--white40: #fffff2a7;
	--fira: 'Fira Sans', sans-serif; // Variable only
	// --neue: "Neue Regrade", sans-serif;
	--neueVar: 'Neue Regrade Variable', sans-serif; // Variable only
	--grotesk: 'Space Grotesk Variable', sans-serif; // Variable only
	--width: 100vw;
	--height: 100dvh;
	--gutter: 40px;
	--borderradious: 16px;
}
@media (max-width: 1024px) {
	:root {
		--gutter: 32px;
		--borderradious: 12px;
		--border: 1px solid var(--black);
	}
}
@media (max-width: 768px) {
	:root {
		--gutter: 20px;
		--borderradious: 10px;
		--border: 1px solid var(--black);
	}
}

@media (max-width: 480px) {
	:root {
		--gutter: 8px;
		--borderradious: 4px;
		--border: none;
	}
}

//  --> Serif are small decorative strokes at the end of a letter.
//  -> Sans means "without"
//  --> Sans-Serif has no decorative strokes.
//  -- Grotesk, Fira Sans, Neue Regrade all are Sans-Serif ~ with no strokes

*,
html,
body,
#root {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: auto;
	overscroll-behavior: none;
	// cursor: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html,
body {
	overflow: auto;
	// background-color: var(--white);
	// background-color: transparent;
	color: var(--black);
	font-family: var(--fira);
	font-size: 16px;
}

a,
button,
link {
	cursor: none;
}

// Fallback for touch devices (disable transforms or fixed heights)
.no_smoother#smooth-wrapper {
	height: 100vh;
	overflow: auto;
}

.no-smoother#smooth-content {
	will-change: transform;
}

/* On touch devices  allow scrolling */
body.touch #smooth-wrapper {
	overflow: auto;
	height: auto;
}
.everything {
	background-color: var(--white);
	position: fixed;
	width: 100vw;
	height: 100vh;
}
.border {
	position: fixed;
	top: 50%;
	left: 50%;
	width: calc(
		100dvw -
			(
				var(--gutter) * 2 + env(safe-area-inset-left) +
					env(safe-area-inset-right)
			)
	);
	height: calc(
		100dvh -
			(
				var(--gutter) * 2 + env(safe-area-inset-top) +
					env(safe-area-inset-bottom)
			)
	);
	border: 1px solid var(--black);
	border-radius: var(--borderradious);
	transform: translate(-50%, -50%);
	overflow: hidden;
	background-color: transparent;

	@include mixins.MOBILE {
		.hiderBar {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 5;
			width: 100%;
			height: 80px;
			background-color: var(--white40);
			border-bottom: 1px solid var(--black40);
			backdrop-filter: blur(10px);
			padding-top: env(safe-area-inset-top);
		}
	}
}
// .border {
// 	position: fixed;
// 	top: 50%;
// 	left: 50%;
// 	width: calc(100vw - (var(--gutter) * 2));
// 	height: calc(100vh - (var(--gutter) * 2));
// 	border: 1px solid var(--black);
// 	border-radius: var(--borderradious);
// 	transform: translate(-50%, -50%);
// 	overflow: hidden;

// 	@include mixins.MOBILE {
// 		.hiderBar {
// 			position: relative;
// 			top: 0;
// 			left: 0;
// 			z-index: 5;
// 			width: 100%;
// 			height: 80px;
// 			background-color: var(--white40);
// 			border-bottom: 1px solid var(--black40);
// 			backdrop-filter: blur(10px);
// 		}
// 	}
// }

#MenuCircle {
	// in this project both here and in svg component has to set trnsperant and fill "none"
	background: transparent;
	position: fixed;
	transform-origin: center;
	top: calc(var(--gutter) + 10px);
	left: calc(100vw - (var(--gutter) + 64px + 10px));
}

// outerCircle
.primaryMouse {
	position: fixed;
	z-index: 1001;
	width: 50px;
	height: 50px;
	border: 1px solid var(--black);
	border-radius: 50%;
	// pointer-events: none;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
}
